// ==================== LOCATION ====================
section.section.location#location
  .container
    .section-header.reveal.reveal-1
      span.section-label 交通位置
      h2.section-title
        | 深根士林，
        span.text-gold 地利優勢
      span.gold-line

    .location__inner
      .location__info.reveal.reveal-1
        .location__info-item
          span.location__info-icon 📍
          div
            .location__info-label 地址
            .location__info-value 台北市士林區福港街254號 B1
        .location__info-item
          span.location__info-icon 🚇
          div
            .location__info-label 捷運
            .location__info-value
              | 捷運劍潭站 3號出口
              br
              | 步行約12分鐘
        .location__info-item
          span.location__info-icon 🏘️
          div
            .location__info-label 社區
            .location__info-value 台北市士林區後港里

        .location__advantage
          p.location__advantage-text
            | 🎭 鄰近
            strong 台北表演藝術中心
            | 與
            strong 台灣戲曲中心
            | ，周圍聚集年輕劇團與藝術設計工作室，文化地利優勢顯著。

      .location__map-wrap.reveal.reveal-2
        iframe(
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.9!2d121.5149471!3d25.0839931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442afb0444eac11%3A0x149e3932ab33ccac!2z5bCP6IKJ254!5e0!3m2!1szh-TW!2stw!4v1"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="小船254號地圖位置"
        )
